.header{
    background-color: #efefef;
    margin-top: 5.9rem;
    &__contenedor{
        &__form{
            display: flex;
            justify-content: flex-end;
            // margin: 1rem 0;
            padding: 1rem 0;
            &--input{
                font-size: 1.6rem;
                font-family: $lato;
            }
            &--button{
                padding: .5rem;
                background-color: black;
                color: white;
                border: none;
                margin-left: .5rem;
            }
        }
        &__box{
            position: relative;
            &--img{
                width: 100%;
                display: block;
            }
            &__article{
                position: absolute;
                bottom: 2rem;
                left: 2rem;
                background-color: rgba(#fff, .7);
                padding: 2rem;
                font-size: 1.6rem;
                @media only screen and(max-width: $bp-large){
                    position: unset;
                }
                &--separador{
                    margin: 1rem 0;
                }
                &__data{
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}