.nav{
    background-color: #273b47;
    // font-size: 30px;
    display: flex;
    justify-content: space-between;
    &--logo{
       display: block;
       width: 10rem;
    }
    &__menuBox{
        &__menu{
            &__item{
                &--link{
                    color: white;
                    font-size: 1.6rem;
                }
            }
        }
        &--session{
            font-size: 1.6rem;
            background-color: #ff4842;
            color: white;
            padding: 1rem 1.5rem;
            display: inline-block;
            border-radius: .5rem;
        }
    }
}
