$font-basis: "Basis Grotesque", sans-serif;
$font-ibm: 'IBM Plex Mono', monospace;

$bp-big: 75em;
$bp-large: 62em;
$bp-medium: 48em;
$bp-small: 36em;

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a,
a:link,
a:visited{
    text-decoration: none;
}
ul{
    list-style: none;
}

html{
    font-size: 62.5%;
}
body{
    box-sizing: border-box;
}