.recomendacion{
    padding: 5rem 0;
    &--titulo{
        font-family: $font-ibm;
        font-size: 1.4rem;
        color: #2400ff;
        text-align: center;
        font-weight: 500;
    }
    &__logos{
        // width: 110rem;
        // margin-left: auto;
        // margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        @media only screen and (max-width: $bp-small){
            flex-direction: column;
        }
        img{
            display: block;
        }
        &--facebook{
            width: 15%;
            @media only screen and (max-width: $bp-small){
                width: 30%;
            }
        }
        &--apple{
            width: 10%;
            @media only screen and (max-width: $bp-small){
                width: 25%;
            }
        }
        &--google{
            width: 15%;
            @media only screen and (max-width: $bp-small){
                width: 30%;
            }
        }
    }
}