.saludo{
    &__container{
        &__parrafoTop{
            font-family: $font-ibm;
            color: #2400ff;
            font-size: 3.2rem;
            display: flex;
            flex-direction: column;
            padding: 0 10rem;
            &--contenido{
                &:not(:last-child){
                    margin-bottom: 4rem;
                }
                span{
                    color: #dddddd;
                }
            }
        }
        &__parrafoBottom{
            font-family: $font-basis;
            font-size: 2.4rem;
            padding: 0 10rem;
            line-height: 3.4rem;
        }
    }
}