.sponsors{
    padding: 4rem 6rem;
    background-color: #f3f4f5;
    &__titulo{
        text-align: center;
        color: #2400ff;
        font-family: $font-ibm;
        font-weight: 500;
        font-size: 1.4rem;
    }
    &__logos{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 6rem;
        flex-wrap: wrap;
        &__imgBox{
            width: calc(100% / 8 - 21rem / 8);
            display: flex;
            justify-content: center;
            @media only screen and (max-width: $bp-large){
                width: calc(25% - 9rem / 4);
                &:nth-child(-n+4){
                    margin-bottom: 3rem;
                }
            }
            @media only screen and (max-width: $bp-medium){
                width: calc(50% - 1.5rem);
                &:nth-child(-n+6){
                    margin-bottom: 3rem;
                }
            }
            &--img{
                display: block;
                // width: 100%;
            }
        }
    }
}